:root{
    --footer-height:100px;
    --header-height:100px;
    --sidebar-width:300px;
}



.top-content{
    display: flex;

}

.sidebar{
    width:var(--sidebar-width);
    height:calc(100vh - var(--footer-height));

    /* debug */
    background-color: blue;

}

.content{
    height: calc(100vh - var(--footer-height));
    width: calc(100% - var(--sidebar-width));
    /* debug */
    background-color: orangered;
    
}


header{
    height: var(--header-height);

    position: fixed;
    top: 0;
    left:var(--sidebar-width);
    width: 100%;

    /* debug */
    background-color: black;

}

main{
    height: 100%;
    padding-top: var(--header-height);

    overflow: auto;

}


footer{
    height: var(--footer-height);
    /* width: 100%; */

    /* debug */
    background-color: red;

}